.rate-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: Arial, sans-serif;
  width: 50%;
  margin: auto;
  height: 100vh;
}

.rate-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.file-input-label {
  cursor: pointer;
  width: 100%;
}

.image-upload-container {
  width: 100%;
  height: 60vh;
  border: 2px dashed #ccc;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.upload-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #666;
}

.preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rate-form {
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
}

.text-input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.hidden {
  display: none;
}

.submit-button {
  width: 100%;
  padding: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
}

.submit-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.feedback-message {
  color: green;
  margin-top: 10px;
}
.color-box {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 5px;
  border-radius: 50%;
}
.segmented-image {
  background: repeating-conic-gradient(#ededed 0% 25%, #ffffff 0% 50%) 50% /
    20px 20px;
  border: 2px solid #00ff88;
  border-radius: 8px;
}

.image-comparison {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  margin: 1rem 0;
}

.preview-image {
  border: 2px solid #ffffff;
  border-radius: 8px;
}

.feedback-container {
  position: fixed;
  bottom: -100vh;
  left: 50%;
  height: 80vh;
  transform: translateX(-50%);
  background: #c1c1c1;
  color: #fff;
  padding: 15px 20px;
  border-radius: 8px;
  font-size: 16px;
  opacity: 0;
  transition: bottom 0.5s ease-out, opacity 0.5s ease-out;
}

.feedback-container.show {
  bottom: 20px;
  opacity: 1;
}
.feedback-image {
  width: 60%;
  height: 400px;
  margin: auto;
  object-fit: cover;
  border-radius: 8px;
}
